# Pandas dataframe

In [1]:
import pandas as pd

In [2]:
'''

pandas append function is used add rows of other dataframe to end of dataframe  and retirning a new dataframe

'''

'\n\npandas append function is used add rows of other dataframe to end of dataframe  and retirning a new dataframe\n\n'

In [3]:
# creatong a dataframe using dictionary
superhero = pd.DataFrame({"iron_man":[100],
                           "ant_man":[200]})
venom = pd.DataFrame({"octious":[99],
                       "thanhos":[88]})
superhero.append(venom,  ignore_index=True)

   iron_man  ant_man  octious  thanhos
0     100.0    200.0      NaN      NaN
1       NaN      NaN     99.0     88.0

In [4]:
# cearing dataframe using list

l1=[10,20,30]
list1=pd.DataFrame(l1)


l2=[40,50,60]
list2=pd.DataFrame(l2)

list1.append(list2)

    0
0  10
1  20
2  30
0  40
1  50
2  60

In [5]:
df = pd.DataFrame(columns=['A'])
for i in range(5):
        df = df.append({'A': i}, ignore_index=True)
df

   A
0  0
1  1
2  2
3  3
4  4

In [10]:
# creating a datframe using dictionary
test1=pd.DataFrame({'x':[10,20,30,40],
                    'y':[50,60,70,80]})

test2=pd.DataFrame({'a':[21,31,41,51],
                    'b':[61,71,81,91]})
test1.append(test2)

      x     y     a     b
0  10.0  50.0   NaN   NaN
1  20.0  60.0   NaN   NaN
2  30.0  70.0   NaN   NaN
3  40.0  80.0   NaN   NaN
0   NaN   NaN  21.0  61.0
1   NaN   NaN  31.0  71.0
2   NaN   NaN  41.0  81.0
3   NaN   NaN  51.0  91.0