# pandas series to frame

In [1]:
'''
The main diffreance between  series and data frame is that the 
'Seires can onely conoatin a single list with a particular index,whereas
DataFrame is acombination of more than one series that can analyse the data.'

The pandas Series.to_frame() function is used to convet series object to DataFrame

'''

"\nThe main diffreance between  series and data frame is that the \n'Seires can onely conoatin a single list with a particular index,whereas\nDataFrame is acombination of more than one series that can analyse the data.'\n\nThe pandas Series.to_frame() function is used to convet series object to DataFrame\n\n"

In [2]:
# importing essentials
import numpy as np
import pandas as pd

In [3]:
# simple example of series
s = pd.Series(['a','b','c','d'],name='val')
s.to_frame()

  val
0   a
1   b
2   c
3   d

In [15]:
# lets take another example

std = ['nitin','rahul','ram','rohan']
roll = [10,20,30,40]

std_series = pd.Series(std)
roll_series = pd.Series(roll)

print(type(std))
print("\n",type(std_series)) # list is converted in to pandas series

asgn = {'student_name':std_series,'roll_number':roll_series}

print("\nthe type of asgn is : ",type(asgn))

result = pd.DataFrame(asgn)
print("\ntype of result is:",type(result))

result

<class 'list'>

 <class 'pandas.core.series.Series'>

the type of asgn is :  <class 'dict'>

type of result is: <class 'pandas.core.frame.DataFrame'>

  student_name  roll_number
0        nitin           10
1        rahul           20
2          ram           30
3        rohan           40